@font-face {
    font-family: fontParagraphs;
    src: url("FranklinGothic.ttf");
}
#main-page {
 background-color: rgb(155,192,255);
 font-family: fontParagraphs;
}
@media only screen and (max-width: 790px) {
 #link {
   display: block;
 }
 #big-frame {
  display: none;
 }
}
@media only screen and (min-width: 791px) {
 #big-frame {
  display: block;
 }
 #link {
   display: none;
 }
}
