#main-page {
 background-color: rgb(155,192,255);
}
@media only screen and (max-width: 600px) {
 #link {
   display: block;
 }
 #big-frame {
  display: none;
 }
}
@media only screen and (min-width: 601px) {
 #big-frame {
  display: block;
 }
 #link {
   display: none;
 }
}
